body {
    border: 10px solid cyan;
}
.mytitle {
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

    border-bottom-style: double;
    border-bottom-width: 8px;
    border-bottom-color: cyan;

    margin-top: 30px;
}
.myp {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.mytrborderlr {
    border-right: 1px solid cyan;
    border-left: 1px solid cyan;
}
/*
.myth {
    text-align: left;
    padding-inline-start: 10px;
}
*/